.header {
  display: flex;
  justify-content:space-between;
  margin: 0;
  padding: 0;
  background-color: white;
}

.logo {
  width: 70px;
  padding-left: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
}

ul li {
  float: left;
  padding: 34px 26px;
}

ul li a {
  text-decoration: none;
  color: black;
}

body {
  background-color: black;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

#nami {
  width: 20em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-content {
  padding-top: 5.5rem;
}

.button {
  background-color: orange;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  width: 100px; 
  height: 30px;
}

.cta-container a, .main-content a {
  text-decoration: none;
}

.button:hover {
  background-color: blue;
  color: orange;
}

.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
}

.mid-section-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.mid-section-item {
  width: 15em;
}

.mid-section-item p {
  text-align: center;
}

.mid-section-container img {
  width: 15em;
  height: 15em;
}

.quote {
  display: flex;
  justify-content: center;
  padding: 7rem 0;
  font-size: 1.5rem;
}

.main-cta {
  background-color: white;
  color: black;
  margin: 0;
  padding: 6rem 0;
}

.cta-container {
  background-color: rgb(128 128 128 / 50%);
  display: flex;
  margin: 0 35rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 10rem;
}

footer {
  text-align: center;
}
