.header {
  display: flex;
  justify-content:space-between;
  margin: 0;
  padding: 0;
}

.logo {
  width: 70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
}

ul li {
  float: left;
  padding: 14px 16px;
}

a {
  text-decoration: none;
  color: black;
}
